*.o
*~
*.a
*.d
*.so
*.pcm
*dbFile.root
*.pdf
*.DS_Store
*AddFiles
*dbFile235239*
DayaBayFit
U235Analysis
IBDAnalysis
CorrUncer
*.root
*.png
*.C
Draw239241Slope
PlotHistograms
files.list
runGlobalAnalysis
GetSigma
PlotGraphs
analyzeGlobalData
updateDataFiles
Pu240_parser
plotHypotheticalIBDYields
.vscode
docs/*
untracked/*
normalizeFFs
addBaselinetoDataFiles
generateMOXYields
generateFastReactorYields
jsonParser

build

CMakeFiles
CMakeCache.txt
Makefile
*.cmake